<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head.ejs') %>

    <body>
        <!-- HEADER -->
        <%- include('./partials/header.ejs') %>

            <main>
                <!-- Hero -->
                <section class="banner">
                    <div class="container banner__wrapper">
                        <h2 class="banner__h2">Nuevos Ingresos</h2>
                        <p class="banner__txt">
                            Descubrí el próximo Funko Pop de tu colección
                        </p>
                        <a href="/shop" class="banner__boton">SHOP</a>
                    </div>
                </section>

                <!-- Colecciones -->
                <section class="container colecciones">
                    <% const licName=new Set(); %>
                        <% funkos.forEach(funko=> { %>
                            <% const { licence_name, img_front }=funko; %>

                                <% if (!licName.has(licence_name)) { %>
                                    <div class="coleccion__card">
                                        <div>
                                            <div class="coleccion__card-info">
                                                <h3>
                                                    <%=funko.category %>
                                                </h3>
                                                <%if(funko.licence_name=="Star Wars" ){%>
                                                    <p>Disfruta de una saga que sigue agregando personajes a su
                                                        colección.Disfruta de una saga que sigue agregando personajes a
                                                        su colección.</p>
                                                    <%} else if (funko.licence_name=="Pokemon" ) {%>
                                                        <p>Atrapa todos los que puedas y disfruta de una colección
                                                            llena de amigos.</p>
                                                        <%} else {%>
                                                            <p>Revive los recuerdos de una saga llena de magia y encanto.</p>

                                                            <%}%>

                                            </div>
                                            <a href="/shop">Ver Colección</a>
                                        </div>
                                        <img src=<%=funko.img_front%> alt=<%=funko.product_name %> />
                                    </div>
                                    <% licName.add(licence_name); %>
                                        <% } %>
                                            <% }) %>

                </section>



                <!-- Ultimos lanzamientos -->
                <section class="lanzamientos container">
                    <h2 class="lanzamientos__title">Últimos lanzamientos</h2>
                    <div class="glide">
                                                    <%funkos.forEach(funko=>{%>
                        <div data-glide-el="track" class="glide__track">

                                <ul class="lanzamientos__list glide__slides">
                                    <% funkos.slice(0, funkos.length).forEach((funko)=> { %>
                                        <li class="lanzamientos__card glide__slide">
                                            <a href="">
                                                <span class="card__span">Nuevo</span>
                                                <picture class="card__picture">
                                                    <img class="card__image"
                                                        onmouseover="this.src='<%= funko.img_back %>'"
                                                        onmouseout="this.src='<%= funko.img_front %>'"
                                                        src="<%= funko.img_front %>" alt="<%= funko.product_name %>" />
                                                </picture>
                                                <div class="card__info">
                                                    <p class="card__category">
                                                        <%= funko.licence_name %>
                                                    </p>
                                                    <h3 class="card__title">
                                                        <%= funko.product_name %>
                                                    </h3>
                                                    <p class="card__price">$<%= funko.product_price %>
                                                    </p>
                                                    <p class="card__payments">3 CUOTAS SIN INTERÉS</p>
                                                </div>
                                            </a>
                                        </li>
                                        <% }); %>
                                </ul>

                                <%})%>
                        </div>
                        <div class="glide__arrows" data-glide-el="controls">
                            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-chevron-left" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="gray" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M15 6l-6 6l6 6"></path>
                                </svg>
                            </button>
                            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="gray" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M9 6l6 6l-6 6"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </section>
            </main>

            <!-- FOOTER -->
            <%- include('./partials/footer.ejs') %>

                <!-- SCRIPTS -->
                <%- include('./partials/scripts.ejs') %>
    </body>

</html>