<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head.ejs') %>

    <body>
        <!-- HEADER -->
        <%- include('./partials/header.ejs') %>
            <main>
                <% if (funko) { %>
                    <section class="item-container container">

                        <picture>
                            <img src=<%=funko.img_front %> alt="">
                        </picture>
                        <div class="item__info">
                            <p class="item__category">
                                <%=funko.licence_name %>
                            </p>
                            <p class="item__name">
                                <%=funko.product_name%>
                            </p>
                            <p class="item__description">Figura coleccionable de <%=funko.category%>, edición
                                    limitada.</p>
                            <p class="item__price">$ <%=funko.product_price.toFixed(2)%>
                            </p>



                            <form class="item__form">
                                <div class="item__inputgroup">
                                    <input type="number" class="form__input" value=0>
                                    <div class="form__actions">
                                        <span class="actions__button">+</span>
                                        <span class="actions__button">-</span>
                                    </div>
                                </div>
                                <button class="form__button">Agregar al Carrito</button>
                            </form>

                            <div class="item__pagos">
                                <p class="item__methods">Ver métodos de pago </p>
                                <span class="item__cuotas">&#160- 3 cuotas sin interés</span>
                            </div>
                        </div>

                    </section>
                    <% } %>
                        </section>



                        <!-- Ultimos lanzamientos -->
                        <section class="lanzamientos container">
                            <h2 class="lanzamientos__title">Productos Relacionados</h2>
                            <div class="glide">
                                <div data-glide-el="track" class="glide__track">
                                    <%funkos.forEach(funko=>{%>
                                        <ul class="lanzamientos__list glide__slides">
                                            <% funkos.slice(0, 3).forEach((funko)=> { %>

                                                <li class="lanzamientos__card glide__slide">
                                                    <a href="">
                                                        <span class="card__span">Nuevo</span>
                                                        <picture class="card__picture">
                                                            <img class="card__image"
                                                                onmouseover="this.src='<%= funko.img_back %>'"
                                                                onmouseout="this.src='<%= funko.img_front %>'"
                                                                src="<%= funko.img_front %>"
                                                                alt="<%= funko.product_name %>" />
                                                        </picture>
                                                        <div class="card__info">
                                                            <p class="card__category">
                                                                <%= funko.licence_name %>
                                                            </p>
                                                            <h3 class="card__title">
                                                                <%= funko.product_name %>
                                                            </h3>
                                                            <p class="card__price">$<%= funko.product_price %>
                                                            </p>
                                                            <p class="card__payments">3 CUOTAS SIN INTERÉS</p>
                                                        </div>
                                                    </a>
                                                </li>

                                                <% }); %>
                                        </ul>

                                        <%})%>
                                </div>
                                <div class="glide__arrows" data-glide-el="controls">
                                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-chevron-left" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="gray" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M15 6l-6 6l6 6"></path>
                                        </svg>
                                    </button>
                                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="gray" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M9 6l6 6l-6 6"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </section>
            </main>




            <!-- FOOTER -->
            <%- include('./partials/footer.ejs') %>

                <!-- SCRIPTS -->
                <%- include('./partials/scripts.ejs') %>
    </body>

</html>