<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- HEADER -->
    <%- include('./partials/header.ejs') %>
    <main>
      <section class="search container">
        <img
          src="/img/icons/search_icon.svg"
          alt="icono lupa"
          class="search__img"
        />
        <input
          type="text"
          name="txtSearch"
          class="search__text"
          placeholder="código, nombre o categoría"
        />
      </section>
      <section class="listProds container">
        <article class="listProds__header">
          <h1 class="listProds__header--title">LISTADO DE PRODUCTOS</h1>
          <div class="listProds__header--add">
            <p class="listProds__header--add--title">AGREGAR</p>
            <a
              href="/admin/create"
              target="_self"
              class="listProds__header--add--plus"
              >+</a
            >
          </div>
        </article>
        <div class="listProds__table">
          <table>
            <thead>
              <tr class="listProds__table--titles">
                <th class="listProds__table--col1">ID</th>
                <th class="listProds__table--col2">Código</th>
                <th class="listProds__table--col3">Nombre del Producto</th>
                <th class="listProds__table--col4">Categoría</th>
              </tr>
            </thead>
            <tbody class="listProds__table--list">
<%funkos.forEach(funko => {%>

              <tr class="listProds__table--list--row">
                <td><%=funko.product_id%></td>
                <td><%=funko.product_sku%></td>
                <td><%=funko.product_name%></td>
                <td><%=funko.licence_name%></td>
                <td>
                  <a href="/admin/edit/<%=funko.product_id%>"
                    ><img
                      class="listProds__table--list--edit"
                      src="/img/icons/edit_pencil.svg"
                      alt="ícono lápiz para edición"
                  /></a>
                </td>
                <td>
                  <button type="button" class="listProds__table--list--delete">
                    <img
                      src="/img/icons/delete_trash.svg"
                      alt="ícono basura para eliminar"
                    />
                  </button>
                </td>
              </tr>
  <%})%>
              
            </tbody>
          </table>
        </div>
      </section>
    </main>
    <!-- FOOTER -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
